.services-content{
    position: relative;
    padding: 2.5rem 6rem;
    border: 1px solid #b5838d;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1000;	
	text-align: center;	
	transform: translateX(.1em); 
    
}