* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: circle;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #ffcdb2;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-button {
  border: 1px solid #ffcdb2;
  padding: 8px 24px;
  border-radius: 4px;
  color: #ffcdb2;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid #ffcdb2;
  background-color: #ffcdb2;
  color: #6d6875;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 16px;
    font-size: 34px;
  }
  .header-logo img {
    width: 160px;
    margin-top: 46px;
  }
  .header-button {
    display: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(to bottom, #6d6875, #b5838d);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.hero {
  color: #FFF;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 60px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}

.button-contact {
  padding: 14px 28px;
  color: #FFF;
  background-color: #ffb4a2;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
  border-radius: 15px;
}

.button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
}
.about {
  background-color: #b5838d;
  overflow: hidden;
  color: #FFF;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
}
.about-content img {
  max-width: 570px;
}

.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
}
.services {
  background-color: #FFF;
  color: #6d6875;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
  gap: 5rem;
}

.services-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 40px;
  color: #6d6875;
}

.services-item ul {
  text-align: left;
}
.services-item ul li {
  color: #6d6875;
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
  line-height: 2;
  color: black;
}
.services-item ul li span {
  color: #b5838d;
}
.services-item ul span.price {
  float: right;
}
.services-item ul span.dotted {
  height: 0.15em;
  background-image: linear-gradient(to left, #b5838d 70%, #6d6875 30%);
  background-size: 0.15em;
  background-repeat: repeat-x;
  flex-grow: 2;
  margin: 0 1rem;
  width: 2rem;
}

span.divider {
  position: relative;
  display: inline-block;
  font-size: 2em;
  color: #6d6875;
  text-shadow: -0.05em 0.05em 0 gray, -0.08em 0.08em 0 #b5838d;
  line-height: 1;
  width: 100%;
  margin-bottom: 30px;
}
span.divider:after, span.divider:before {
  content: "";
  position: absolute;
  top: 0.5em;
  height: 0.1em;
  background: #6d6875;
  box-shadow: 0 0.05em 0 gray, 0 0.1em 0 #b5838d;
}
span.divider:after {
  left: 60%;
  right: 0;
}
span.divider:before {
  left: 0;
  right: 60%;
}

.services-content p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 780px;
}

.haircuts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 44px 34px 44px;
}

.haircut {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  overflow: hidden;
}
.haircut img {
  width: 100%;
  max-width: 354px;
  transition: transform 0.2s;
}

.haircut img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.haircut-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: #FFF;
  z-index: 99;
}

.haircut-info button {
  color: #FFF;
  background-color: #b5838d;
  padding: 4px 8px;
  border-radius: 4px;
  border: 0;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .haircuts {
    flex-direction: column;
  }
  .haircut img {
    max-width: 740px;
  }
  .services-content .divider {
    display: none;
    width: auto;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: #FFF;
}

.footer-icons {
  display: flex;
  gap: 8px;
  color: #FFF;
}

.btn-whatsapp {
  position: fixed;
  bottom: 14px;
  right: 24px;
  z-index: 99;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background-color: #232224;
  color: #FFF;
  opacity: 0;
  transition: opacity 0.4s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn-whatsapp img {
    max-width: 64px;
  }
}
.services-content {
  position: relative;
  padding: 2.5rem 6rem;
  border: 1px solid #b5838d;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  text-align: center;
  transform: translateX(0.1em);
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #b5838d;
}
body h1 {
  font-family: "Dancing Script", cursive;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
